@use "@angular/material" as mat;
// Customize the entire app. Change :root to your selector if you want to scope the styles.
:root {
  @include mat.list-overrides(
    (
      list-item-selected-container-color: orange,
      list-item-container-color: transparent,
    )
  );
}
/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
